[submodule "coinbasepro-python"]
	path = lib/coinbasepro_python
	url = git@github.com:freenancial/coinbasepro-python.git
[submodule "pycoin"]
	path = lib/pycoin
	url = git@github.com:freenancial/pycoin.git
